[Unit]
Description=Deepin Remote Desktop Handover Daemon(TLS/PAM mode : Single sign-on and remote login)
ConditionEnvironment=REMOTE_ID
After=graphical-session-pre.target

[Service]
Type=simple
StandardError=journal
StandardOutput=journal
ExecStart=/usr/bin/deepin-remote-desktop --mode handover --config /usr/share/deepin-remote-desktop/config.d/default-handover.ini
#Restart=on-failure
#RestartSec=5
#TimeoutStartSec=30

[Install]
WantedBy=graphical-session-pre.target
