[Unit]
Description=Deepin Remote Desktop Share Screen Daemon
After=graphical-session-pre.target

[Service]
Type=simple
StandardError=journal
StandardOutput=journal
ExecStart=/usr/bin/deepin-remote-desktop --mode user --config /usr/share/deepin-remote-desktop/config.d/default-user.ini
#Restart=on-failure
#RestartSec=5
#TimeoutStartSec=30

[Install]
WantedBy=graphical-session-pre.target